body {
	font-family: 'Dancing Script', cursive;
	width: 90%;
	margin-left: 5%;
	background-color: #02010a;
}

header {
	padding: 1vh 1vw;
	border-radius: 1.6260162601626016vh 1.6260162601626016vh 0vh 0vh;
	background-color: #5b7989;
	width: 100%;
}
header h1 {
	padding-left: 1%;
	font-size: 1.5em;
	color: white;
	text-shadow: 2px #02010a;
	float: left;
	width: 50%;
}

li {
    display: inline;
		float: right;
}
li a {
    color: white;
    text-align: center;
    padding: 1vw 1vh;
    text-decoration: underline;

}
ul{
	margin: 1%;
	padding: 3%;

}

.contendor{
	padding: 1vh 1vw;
	background-color: #d5c75f ;
	width: 100%;
}
.contendor div div {
	box-sizing: 1px solid border-box;
	min-width: 150px;
	padding: 20px;
}
.contendor div div img {
	border: 1px solid ;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

footer {
	font-size: 0.8em;
	border-top: solid 2px #1f47a8;
	text-align: center;
	background-color:#C6d5c5;
	padding: 1vh 1vw;
	width: 100%;
}
.contenidofoot div{
	padding: 1vh 1vw;
	width: 100%;
}
#paisaje1{
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
}
#paisaje2,#paisaje4,#paisaje6{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
#paisaje3{
  -webkit-filter: sepia(90%); /* Safari 6.0 - 9.0 */
    filter: sepia(90%);
}






@media screen and (max-width:420px){
	.contenidofoot{
		 display: flex;
		 flex-direction: column;
	}
  nav {
		width: 50%;
		font-size: 1em;
		color: white;
		text-shadow: 2px #02010a;
		float:none;
		padding-left: 20%;
	}
	header h1 {
		padding-left: 1%;
		font-size: 1.5em;
		color: white;
		text-shadow: 2px #02010a;
		float: left;
		width: 100%;
		text-align: center;
	}
  .contendor1,.contendor2{
    display: flex;
    flex-direction: column;
  }


}

@media screen and (min-width: 600px) {
	.contenidofoot{
		 display: flex;
		 flex-direction: row;
	}
	header h1 {
		padding-left: 1%;
		font-size: 1.5em;
		color: white;
		text-shadow: 2px #02010a;
		float: left;
		width: 50%;

	}
	nav{
		float: right;
		width: 40%;
		padding-left: 1%;
		font-size: 1em;
		color: white;
		text-shadow: 2px #02010a;

	}
  .contendor1,.contendor2{
    display: flex;
    flex-direction: row;
  }

}

@media screen and (min-width: 900px) {
	.contenidofoot{
		 display: flex;
		 flex-direction: row;
	}
	header h1 {
		padding-left: 1%;
		font-size: 1.5em;
		color: white;
		text-shadow: 2px #02010a;
		float: left;
		width: 50%;

	}
	nav{
		float: right;
		width: 40%;
		padding-left: 1%;
		font-size: 1em;
		color: white;
		text-shadow: 2px #02010a;

	}
  .contendor1,.contendor2{
    display: flex;
    flex-direction: row;
  }

}
