body {
	font-family: 'Dancing Script', cursive;
	width: 90%;
	margin-left: 5%;
	background-color: #02010a;
}

header {
	padding: 1vh 1vw;
	border-radius: 1.6260162601626016vh 1.6260162601626016vh 0vh 0vh;
	background-color: #5b7989;
	width: 100%;

}



li {
    display: inline;
		float: right;
}
li a {
    color: white;
    text-align: center;
    padding: 1vw 1vh;
    text-decoration: underline;

}
ul{
	margin: 1%;
	padding: 3%;

}
nav{
	float: right;
	width: 40%;
	padding-left: 1%;
	font-size: 1em;
	color: white;
	text-shadow: 2px #02010a;

}

header h1 {
	padding-left: 1%;
	font-size: 1.5em;
	color: white;
	text-shadow: 2px #02010a;
	float: left;
	width: 50%;

}

footer {
	font-size: 0.8em;
	border-top: solid 2px #1f47a8;
	text-align: center;
	background-color:#C6d5c5;
	padding: 1vh 1vw;
	width: 100%;
}

.Segundo-Imagenes div  {
	box-sizing: 1px solid border-box;
	min-width: 150px;
	padding: 20px;
}
.Segundo-Imagenes div img {
	border: 1px solid ;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.Segundo-Imagenes{
	padding: 1vh 1vw;
	background-color: #d5c75f ;
	width: 100%;
}

.i1 img{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;


}
.i1{
	padding: 1vh 1vw;
	background-color: #82c3a6;
	width: 100%;
}

@media(min-width:40px){

	img{
    max-width: 100%;
    height: auto;
	}
	.contenidofoot{
		 display: flex;
		 flex-direction: column;
	}


}
@media (min-width: 800px) {
	.Segundo-Imagenes {
		display: flex;
		flex-direction: row;
	}
	.contenidofoot{
		 display: flex;
		 flex-direction: row;
	}
}
h3{
	text-align: center;
}
#paisaje:hover{
	-ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Safari 3-8 */
    transform: rotate(10deg);
		border: 1px solid;
		box-shadow: 5px 10px 18px #82c3a6;
}


@keyframes imagen2-animacion {
0% {
position: relative;
left: 0px
}
50% {
position: relative;
bottom: 5px;
left: 20px;
}
100% {
position: relative;
left: 0px;
}
}

#retrato:hover{
animation-name: imagen2-animacion;
animation-duration: 1s;
-webkit-animation-delay: 0.5s;
-moz-animation-delay: 0.5s;
-o-animation-delay: 0.5s;
animation-delay: 0.5s;
border: 2px solid;
box-shadow: 5px 10px 18px #82c3a6;
}

.contenidofoot div{
	padding: 1vh 1vw;
	width: 100%;
}
